<?php
return array(
    'phpSettings' => array(
        'display_startup_errors' => 1,
        'display_errors'         => 1,
        'error_reporting'        => (E_ALL | E_STRICT)
    ),
    'resources'   => array(
        'frontController' => array(
            'throwExceptions' => true
        ),
        'db' => array(
            'params'  => array(
                'host'     => '##HOSTNAME##',
                'username' => '##USERNAME##',
                'password' => '##PASSWORD##',
                'dbname'   => '##DATABASE##'
            )
        ),
        'cachemanager' => array(
            'database' => array(
                'frontend' => array(
                    'options' => array(
                        'caching' => false
                    )
                ),
                'backend'  => array()
            )
        )
    )
);