<?php
return array(
    'phpSettings' => array(
        'display_startup_errors' => 0,
        'display_errors'         => 0,
        'error_reporting'        => 0
    ),
    'resources'   => array(
        'frontController' => array(
            'throwExceptions' => false
        ),
        'db' => array(
            'params'  => array(
                'host'     => '##HOSTNAME##',
                'username' => '##USERNAME##',
                'password' => '##PASSWORD##',
                'dbname'   => '##DATABASE##'
            )
        ),
        'cachemanager' => array(
            'database' => array(
                'backend'  => array(
                    'name'    => 'File',
                    'options' => array(
                        'cache_dir'        => ROOT_PATH . DIRECTORY_SEPARATOR . 'data' . DIRECTORY_SEPARATOR . 'cache',
                        'file_name_prefix' => 'firal_database'
                    )
                )
            )
        )
    )
);